// Colors
$white: #fff;

$dark: #222222;

$blue1: #122ab2;
$blue2: #2c70ff;
$blue: #66d9eb;
$purple: #ae81ff;
$greyDark: #7c7c7c;
$greyLight: #a4a4a4;
$grey: #f7f7f7;

$pink: #f9265e;

// Fonts
$font-body: "Nunito", Helvetica, Arial, sans-serif;