$white: #fff;
$grey-100: #f7f7f7;
$grey-200: #ededed;
$grey-300: #dedede;
$grey-400: #ccc;
$grey-500: #b2b2b2;
$grey-600: #9c9c9c;
$grey-700: #717171;
$grey-800: #595959;
$grey-900: #404040;
$grey-1000: #2e2e2e;
$grey-1100: #111;
$black: #000;

$primary-100: #ffbb00;
$primary-200: #e4a30b;
$primary-300: #a66f00;
$primary-400: #664400;
$primary-500: #332200;

$opacity-100: rgba(0, 0, 0, .1);

$font-title: 'Poppins', sans-serif;
$font-body: 'Roboto', sans-serif;
$font-quote: 'Merriweather', serif;
