@use '../1-bases/variables';

.bikes-bg{
  &:nth-child(odd){
    background: linear-gradient(to right, variables.$white 30%, variables.$grey-1100 0);
    
    .bikes{
      .bikes-content{
        h2{
          color: variables.$white;
        }

        p{
          color: variables.$grey-500;
        }

        ul{
          li{
            color: variables.$grey-500;
          }
        }
      }
    }
    
    @media screen and (max-width: 800px) {
      background: variables.$grey-1100;
    }
  }

  .bikes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding-block: 6rem;
    background: url('../../img/dec/top-right.svg') no-repeat top 4rem right 2rem;

    .bikes-image{
      display: grid;
      
      img{
        grid-area: 1/1;
      }
      
      span{
        grid-area: 1/1;
        place-self: start end;
        margin-top: 2rem;
        background: variables.$black;
        display: inline-block;
        color: variables.$white;
        padding: .8rem 1.6rem .8rem .8rem;
        border-radius: .4rem 0 0 .4rem;
      }
    }

    .bikes-content{
      display: grid;
      grid-template-columns: 1fr auto;
      align-content: start;

      h2{
        grid-column: 1/-1;
        margin-block: 2rem;

        &::before{
          content: '';
          display: block;
          width: 1.2rem;
          height: .8rem;
          background: variables.$primary-100;
          margin-bottom: .8rem;
        }
      }

      p{
        grid-column: 1/-1;
        margin-bottom: 3.2rem;
        color: variables.$grey-800;
      }

      ul{
        display: grid;
        gap: 1.6rem;

        li{
          display: flex;
          align-items: center;
          color: variables.$grey-800;

          img{
            width: 2.4rem;
            margin-right: .8rem;
          }
        }
      }

      a{
        place-self: end;
        max-width: initial;
      }
    }

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
      gap: 2rem;
      padding-block: 4rem;
    }

    @media screen and (max-width: 600px) {
      .bikes-content{
        grid-template-columns: 1fr;

        ul{
          font-size: 1.6rem;
          grid-template-columns: repeat(2, 1fr);
          margin-bottom: 3.2rem;
        }

        a{
          place-self: start;
        }
      }
    }
  }
}