@use '../1-bases/variables';

.technology-bg{
  background: variables.$grey-1100;
  box-shadow: inset 0 120px variables.$white, inset 0 -120px variables.$white;
  
  .technology{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    .technology-content{
      padding-block: 18rem;
      
      & > span{
        color: variables.$grey-500;
        margin-bottom: 2rem;
        display: inline-block;
      }

      h2{
        color: variables.$white;
        margin-bottom: 3.2rem;
      }

      & > p{
        color: variables.$grey-500;
        font-size: 1.8rem;
        margin-bottom: 2rem;
      }

      .link{
        margin-bottom: 8rem;
      }

      .technology-benefits{
        display: flex;
        gap: 4rem;

        img{
          width: 2.4rem;
          margin-bottom: 0.8rem;
        }
        
        h3{
          margin-bottom: 0.8rem;
          width: max-content;
          color: variables.$white;
          font-size: 1.8rem;
        }

        p{
          color: variables.$grey-500;
          font-size: 1.6rem;
        }
      }
    }
  }

  .technology-image{
    img{
      width: 100%;
      height: 100%;
      object-position: left;
    }
  }

  @media screen and (max-width: 800px) {
    box-shadow: initial;

    .technology{
      grid-template-columns: 1fr;

      .technology-content{
        padding-block: 6rem;
      }
    }

    .technology-image{
      img{
        display: none;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .technology-benefits{
      flex-direction: column;
    }
  }

}

