$white: #FFF;
$primary: #8844EE;
$secondary: #B07DFB;
$auxiliary: #fAfAfA;

$font-body: 'Vollkorn', 'Times New Roman', serif;

$dark-1: rgba(0, 0, 0, .1);
$dark-5: rgba(0, 0, 0, .5);
$dark-7: rgba(0, 0, 0, .7);

$gap: 30px;

