$black: #000;
$white: #fff;

$black-100: #141414;

$grey-100: #f5f5f5;
$grey-200: #525252;
$grey-300: #e0e0e0;
$grey-400: #525252;
$grey-500: #a3a3a3;
$grey-600: #8f8f8f;
$grey-700: #ccc;


$green-100: #b6f829;
$green-200: #67dd0a;

$font-body: 'Fira Sans', 'Arial', sans-serif;
