@use './1-bases/variables';

.icon{
  height: 100px;
}
.home-quote{
  background: url('../img/bg-quote.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.accordion-item {
  border: none;
}
.accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: variables.$white;
  box-shadow: none;
}
.accordion-button:focus {
  border-color: variables.$white;
  outline: 0;
  box-shadow: none;
}
.list-plans li + li{
  border-top: 1px solid variables.$lightgrey;
}
.list-plans li{
  padding: 1rem 0;
}
.footer a{
  text-decoration: none;
}
.footer__tel, .link-tel{
  color: variables.$grey;
  text-decoration: none;
}
textarea{
  resize: none;
}
@media only screen and (max-width: 767px){
  body{
    padding-top: 0;
  }
  .fixed-top{
    position: relative;
  }
  .home-quote .display-4{
    font-size: 2.5rem;
  }
}
